<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skripsi"
        tools:targetApi="31">
        <activity
            android:name=".SyaratDanKetentuan"
            android:exported="false" />
        <activity
            android:name=".FAQ"
            android:exported="false" />
        <activity
            android:name=".HomePageNasabah"
            android:exported="false" />
        <activity
            android:name=".InsuranceInfoNasabah"
            android:exported="false" />
        <activity
            android:name=".NotificationNasabah"
            android:exported="false" />
        <activity
            android:name=".ProfileNasabah"
            android:exported="false" />
        <activity
            android:name=".DataCalonNasabahTravel"
            android:exported="false" />
        <activity
            android:name=".DataCalonNasabahHealth"
            android:exported="false" />
        <activity
            android:name=".BuktiPembayaranAsuransi"
            android:exported="false" />
        <activity
            android:name=".BuatPasswordNasabah"
            android:exported="false" />
        <activity
            android:name=".UbahPasswordNasabah"
            android:exported="false" />
        <activity
            android:name=".UbahPasswordAsuransi"
            android:exported="false" />
        <activity
            android:name=".ProfileAsuransi"
            android:exported="false" />
        <activity
            android:name=".HomePageAsuransi"
            android:exported="false" />
        <activity
            android:name=".LoginAsuransi"
            android:exported="false" />
        <activity
            android:name=".Pembayaran"
            android:exported="false" />
        <activity
            android:name=".PopUpRiwayatPenyakit"
            android:exported="false" />
        <activity
            android:name=".RegistrasiHealth"
            android:exported="false" />
        <activity
            android:name=".RegistrasiTravel"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- <data -->
                <!-- android:scheme="myapp" -->
                <!-- android:host="open" -->
                <!-- android:path="/UbahPasswordAsuransi" -->
                <!-- /> -->


                <!-- <data -->
                <!-- android:scheme="https" -->
                <!-- android:host="skripsi.com" -->
                <!-- android:path="/UbahPasswordNasabah" -->
                <!-- /> -->

            </intent-filter>
        </activity>
    </application>

</manifest>